<a href="https://colab.research.google.com/github/2303A52095/AIML_2303A52095/blob/main/AIML_LAB1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Part 1 – Implement Basic Data Structures using Numpy, Pandas
1. Lists
2. Arrays
3. Identify their type using type()
4. Perform mathematical operations on these datasets created - multiplication, division,
poweroff
5. Combine text with Numpy fuction to generate a textual output - ”Addition of Two:
array1 +array 2
6. Implement np.sin(), log(), log2(), np.exp())

In [ ]:
import numpy as np
list1=[4,5,6]
list2=[7,8,9]
array1 = np.array(list1)
array1
array2 = np.array(list2)
array2

array([7, 8, 9])

In [ ]:
type(list1)

list

In [ ]:
type(array1)

numpy.ndarray

In [ ]:
print("multiplication:",array1*array2)
print("division:",array2/array1)
print("poweroff:",array2**array1)

multiplication: [28 40 54]
division: [1.75 1.6  1.5 ]
poweroff: [  2401  32768 531441]

In [ ]:
print("Adding two numpy arrays :", array1+array2)
print(f"Adding two numpy arrays {array1} and {array2} together: {array1+array2}")

Adding two numpy arrays : [11 13 15]
Adding two numpy arrays [4 5 6] and [7 8 9] together: [11 13 15]

In [ ]:
print("Sine: ",np.sin(array1))
print("Natural logarithm: ",np.log(array1))
print("Base-10 logarithm: ",np.log10(array1))
print("Base-2 logarithm: ",np.log2(array1))
print("Exponential: ",np.exp(array1))

Sine:  [-0.7568025  -0.95892427 -0.2794155 ]
Natural logarithm:  [1.38629436 1.60943791 1.79175947]
Base-10 logarithm:  [0.60205999 0.69897    0.77815125]
Base-2 logarithm:  [2.         2.32192809 2.5849625 ]
Exponential:  [ 54.59815003 148.4131591  403.42879349]